<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <!-- Needed because of the use of jQuery -->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />   
  </appSettings>
  
  <!-- Experimented with other ways to solve the login/register method 
  <connectionStrings>
    <add name="LocalDB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF';Integrated Security=True" />
  </connectionStrings>
  -->
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <!-- Experimented with changing the provided database's option e.g. password complexity
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider"
            type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
            connectionStringName="LocalDB"
            enablePasswordRetrieval="false"
            enablePasswordReset="false"
            requiresQuestionAndAnswer="true"
            requiresUniqueEmail="true"
            passwordFormat="Hashed"
            maxInvalidPasswordAttempts="15"
            minRequiredPasswordLength="7"
            minRequiredNonalphanumericCharacters="0"
            passwordAttemptWindow="10"
            passwordStrengthRegularExpression=""
            applicationName="/"/>
      </providers>
    </membership>
    -->
    
    <!-- Setting up the login -->
    <authentication mode="Forms">
      <forms loginUrl="/Login.aspx" />
    </authentication>
    
    <!-- Allow free navigation on the website to all uses (but not CHECKING OUT, see below) -->
    <authorization>
      <allow users="*"/>
    </authorization>
    
    <!-- After postback it puts you back to the same place on website + problems with corrupt ViewState MAC solved -->
    <pages maintainScrollPositionOnPostBack="true" enableViewStateMac="false"/>
  </system.web>
  
  <!-- Disallowing checkout to anonymous users, you have to login/register first -->
  <location path="Checkout.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>